extends layout

block content
  h1 Goal Analytics
  
  p.
    #[a(href="/goals/detail") Individual Goal Detail]
    
  p.
    #[a(href="/goals/players") Goals Per Player]
    
  p.
    #[a(href="/goals/teams") Goals Per Team]

    